*.pyc

*.opensdf
*.sdf
*.user
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.o
*.cxx
*.so
.vscode
.env
.style.yapf
*.ckpt.*

log/
output/
summary_log/

data/policies/dog3d/*
data/policies/dog3d_amp/*
data/policies/dog3d/humanoid3d/*
data/policies/dog3d/humanoid3d_amp/*

.vs/
__pycache__/
output/
x64/
Debug/
Release/external/
gmake/
lib/
external/
Backup/
data/intermediate/
DeepMimicCore/objs/

DeepMimicCore/DeepMimicCore.py